:root {
  --color-yellow-light: #fff5bf;
  --color-yellow: #faa11c;
  --color-red-bg: #ffece6;
  --color-bittersweet: #fd755f;
  --color-light-blue: #f1f7fc;
  --color-cerulean: #11abec;
  --color-white: #ffffff;
  --color-brand-diantre: #001a25;
  --color-grey-barth: #636970;
  --color-separator: #dce4ed;
  --color-background-dark: #f3f5f8;
  --color-background-pink: #ffdde7;
  --color-pink: #ff7fa3;
  --color-background-green: #e5f5e0;
  --color-green: #00441b;
  --color-background-purple: #ffd6ff;
  --color-purple: #5a189a;
}
