:root {
  --color-yellow-light: #fff5bf;
  --color-yellow: #faa11c;
  --color-red-bg: #ffece6;
  --color-bittersweet: #fd755f;
  --color-light-blue: #f1f7fc;
  --color-cerulean: #11abec;
  --color-white: #ffffff;
  --color-brand-diantre: #001a25;
  --color-grey-barth: #636970;
  --color-separator: #dce4ed;
}
