@import url('https://fonts.googleapis.com/css2?family=DM+Mono:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

@font-face {
  font-family: 'Eina03-SemiBold';
  src: url('https://db.onlinewebfonts.com/t/b158925a1d762313849f2482a415369d.eot');
  src:
    url('https://db.onlinewebfonts.com/t/b158925a1d762313849f2482a415369d.eot?#iefix')
      format('embedded-opentype'),
    url('https://db.onlinewebfonts.com/t/b158925a1d762313849f2482a415369d.woff2') format('woff2'),
    url('https://db.onlinewebfonts.com/t/b158925a1d762313849f2482a415369d.woff') format('woff'),
    url('https://db.onlinewebfonts.com/t/b158925a1d762313849f2482a415369d.ttf') format('truetype'),
    url('https://db.onlinewebfonts.com/t/b158925a1d762313849f2482a415369d.svg#Eina03-SemiBold')
      format('svg');
}
