@use '../base/typography';

.cvw-field {
  @include typography.paragraph-tiny();

  background-color: var(--color-white);
  border: 1px solid var(--color-separator);
  border-radius: 4px;
  flex: 1;
  padding: 9.5px 9px;
}
