.cvw-tab {
  background-color: var(--color-white);
  border-radius: 4px;
  color: var(--color-paragraph);
  cursor: pointer;
  display: flex;
  font-family: Open sans;
  font-size: 12p;
  font-weight: 600;
  gap: 8px;
  letter-spacing: 0px;
  line-height: 120%;
  padding: 8px;
}

.cvw-tab--active {
  background-color: var(--color-light-blue);
  color: var(--color-cerulean);
}
